<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.rule.mapper.ArchiveAppraisalRuleMapper">

    <resultMap type="ArchiveAppraisalRule" id="ArchiveAppraisalRuleResult">
        <result property="ruleId"          column="rule_id"          />
        <result property="qzh"             column="qzh"              />
        <result property="categoryCode"    column="category_code"    />
        <result property="parentId"        column="parent_id"        />
        <result property="clauseNo"        column="clause_no"        />
        <result property="parentPathText"  column="parent_path_text" />
        <result property="clauseText"      column="clause_text"      />
        <result property="fullMergedText"  column="full_merged_text" />
        <result property="retentionPeriod" column="retention_period" />
        <result property="documentTypes"   column="document_types"   />
        <result property="eventKeywords"   column="event_keywords"   />
        <result property="processStatus"   column="process_status"   />
        <result property="sortOrder"       column="sort_order"       />
        <result property="aiCostTimeMs"    column="ai_cost_time_ms"  />
        <result property="aiErrorLog"      column="ai_error_log"     />
        <result property="createBy"        column="create_by"        />
        <result property="createTime"      column="create_time"      />
        <result property="updateBy"        column="update_by"        />
        <result property="updateTime"      column="update_time"      />
    </resultMap>

    <sql id="selectRuleVo">
        select rule_id, qzh, category_code, parent_id, clause_no, parent_path_text,
               clause_text, full_merged_text, retention_period, document_types,
               event_keywords, process_status, sort_order, ai_cost_time_ms, ai_error_log,
               create_by, create_time, update_by, update_time
        from archive_appraisal_rule
    </sql>

    <select id="selectRuleList" parameterType="ArchiveAppraisalRule" resultMap="ArchiveAppraisalRuleResult">
        <include refid="selectRuleVo"/>
        <where>
            <if test="qzh != null and qzh != ''"> and qzh = #{qzh}</if>
            <if test="categoryCode != null and categoryCode != ''"> and category_code = #{categoryCode}</if>
            <if test="parentId != null and parentId != ''"> and parent_id = #{parentId}</if>
            <if test="retentionPeriod != null and retentionPeriod != ''"> and retention_period = #{retentionPeriod}</if>
            <if test="processStatus != null "> and process_status = #{processStatus}</if>
            <if test="params.keyword != null and params.keyword != ''">
                and (clause_text like concat('%', #{params.keyword}, '%')
                or full_merged_text like concat('%', #{params.keyword}, '%'))
            </if>
        </where>
        order by sort_order asc
    </select>

    <insert id="batchInsertRules" parameterType="java.util.List">
        insert into archive_appraisal_rule (
        rule_id, qzh, category_code, parent_id, clause_no, parent_path_text,
        clause_text, full_merged_text, retention_period, sort_order, create_time
        ) values
        <foreach item="item" index="index" collection="list" separator=",">
            (
            #{item.ruleId}, #{item.qzh}, #{item.categoryCode}, #{item.parentId}, #{item.clauseNo},
            #{item.parentPathText}, #{item.clauseText}, #{item.fullMergedText}, #{item.retentionPeriod},
            #{item.sortOrder}, sysdate()
            )
        </foreach>
    </insert>

    <delete id="deleteRulesByQzhAndCategory">
        delete from archive_appraisal_rule
        where qzh = #{qzh} and category_code = #{categoryCode}
    </delete>

    <delete id="deleteRuleById" parameterType="String">
        delete from archive_appraisal_rule where rule_id = #{ruleId}
    </delete>

    <delete id="deleteRulesByQzh" parameterType="String">
        delete from archive_appraisal_rule where qzh = #{qzh}
    </delete>

    <select id="selectArchiveAppraisalRuleById" parameterType="String" resultMap="ArchiveAppraisalRuleResult">
        <include refid="selectRuleVo"/>
        where rule_id = #{ruleId}
    </select>

    <insert id="insertArchiveAppraisalRule" parameterType="ArchiveAppraisalRule">
        insert into archive_appraisal_rule (
            rule_id, qzh, category_code, parent_id, clause_no, parent_path_text,
            clause_text, full_merged_text, retention_period, document_types,
            event_keywords, process_status, sort_order, ai_cost_time_ms, ai_error_log,
            create_by, create_time, update_by, update_time
        ) values (
                     #{ruleId}, #{qzh}, #{categoryCode}, #{parentId}, #{clauseNo}, #{parentPathText},
                     #{clauseText}, #{fullMergedText}, #{retentionPeriod}, #{documentTypes},
                     #{eventKeywords}, #{processStatus}, #{sortOrder}, #{aiCostTimeMs}, #{aiErrorLog},
                     #{createBy}, sysdate(), #{updateBy}, sysdate()
                 )
    </insert>

    <update id="updateArchiveAppraisalRule" parameterType="ArchiveAppraisalRule">
        update archive_appraisal_rule
        <trim prefix="SET" suffixOverrides=",">
            <if test="qzh != null and qzh != ''">qzh = #{qzh},</if>
            <if test="categoryCode != null">category_code = #{categoryCode},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="clauseNo != null">clause_no = #{clauseNo},</if>
            <if test="parentPathText != null">parent_path_text = #{parentPathText},</if>
            <if test="clauseText != null and clauseText != ''">clause_text = #{clauseText},</if>
            <if test="fullMergedText != null">full_merged_text = #{fullMergedText},</if>
            <if test="retentionPeriod != null">retention_period = #{retentionPeriod},</if>
            <if test="documentTypes != null">document_types = #{documentTypes},</if>
            <if test="eventKeywords != null">event_keywords = #{eventKeywords},</if>
            <if test="processStatus != null">process_status = #{processStatus},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="aiCostTimeMs != null">ai_cost_time_ms = #{aiCostTimeMs},</if>
            <if test="aiErrorLog != null">ai_error_log = #{aiErrorLog},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where rule_id = #{ruleId}
    </update>

</mapper>